**1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.** <br>
*Examples <br>
remove_letters([&quot;s&quot;, &quot;t&quot;, &quot;r&quot;, &quot;i&quot;, &quot;n&quot;, &quot;g&quot;, &quot;w&quot;], &quot;string&quot;) ➞ [&quot;w&quot;] <br>
remove_letters([&quot;b&quot;, &quot;b&quot;, &quot;l&quot;, &quot;l&quot;, &quot;g&quot;, &quot;n&quot;, &quot;o&quot;, &quot;a&quot;, &quot;w&quot;], &quot;balloon&quot;) ➞ [&quot;b&quot;, &quot;g&quot;,
&quot;w&quot;] <br>
remove_letters([&quot;d&quot;, &quot;b&quot;, &quot;t&quot;, &quot;e&quot;, &quot;a&quot;, &quot;i&quot;], &quot;edabit&quot;) ➞ []*

In [1]:
def remove_letters(in_list,in_string):
    in_list_copy = in_list.copy()
    for ele in in_string:
        if ele in in_list:
            in_list.remove(ele)
    print(f'remove_letters{in_list_copy,in_string} ➞ {in_list}')

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

remove_letters(['s', 't', 'r', 'i', 'n', 'g', 'w'], 'string') ➞ ['w']
remove_letters(['b', 'b', 'l', 'l', 'g', 'n', 'o', 'a', 'w'], 'balloon') ➞ ['b', 'g', 'w']
remove_letters(['d', 'b', 't', 'e', 'a', 'i'], 'edabit') ➞ []

**2. A block sequence in three dimensions. We can write a formula for this one:
Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.** <br>
*Examples <br>
blocks(1) ➞ 5 <br>
blocks(5) ➞ 39 <br>
blocks(2) ➞ 12*

In [2]:
def blocks(in_num):
    depth = in_num*3+((in_num)-1)*1
    height = [x for x in range(2,in_num+2)]
    print(f'blocks({in_num}) ➞ {depth+sum(height)}')
        
blocks(1)
blocks(2)
blocks(3)
blocks(4)
blocks(5)

blocks(1) ➞ 5
blocks(2) ➞ 12
blocks(3) ➞ 20
blocks(4) ➞ 29
blocks(5) ➞ 39

**3. Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.**
*Examples <br>
my_sub(5, 9) ➞ 4 <br>
my_sub(10, 30) ➞ 20 <br>
my_sub(0, 0) ➞ 0*

In [3]:
from operator import sub
def my_sub(in_one,in_two):
    output = sub(in_one,in_two) if in_one >= in_two else sub(in_two,in_one)
    print(f'my_sub{in_one,in_two} ➞ {output}')
    
my_sub(5, 9)
my_sub(10, 30)
my_sub(0, 0)

my_sub(5, 9) ➞ 4
my_sub(10, 30) ➞ 20
my_sub(0, 0) ➞ 0

**4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer. <br>
For the input string:** <br>
**Each amount is prefixed by the currency symbol: dollars for dollars and £ for
pounds.** <br>
**Thousands are represented by the suffix k. 
i.e. Dollar 4k = dollar 4,000 and £40k = £40,000** <br>
<br>

*Examples <br>
add_bill(&quot;d20,p40,p60,d50&quot;) ➞ 20 + 50 = 70 <br>
add_bill(&quot;p30,d20,p60,d150,p360&quot;) ➞ 20 + 150 = 170 <br>
add_bill(&quot;p30,d2k,p60,d200,p360&quot;) ➞ 2 * 1000 + 200 = 2200*

In [4]:
def add_bill(in_string):
    out_num = 0
    for ele in in_string.split(","):
        if 'd' in ele:
            if 'k' in ele:
                out_num += int(ele.replace('d','').replace('k',''))*1000                
            else:
                out_num += int(ele.replace("d",''))
    print(f'add_bill({in_string}) ➞ {out_num}')
    
add_bill("d20,p40,p60,d50")
add_bill("p30,d20,p60,d150,p360")
add_bill("p30,d2k,p60,d200,p360")

add_bill(d20,p40,p60,d50) ➞ 70
add_bill(p30,d20,p60,d150,p360) ➞ 170
add_bill(p30,d2k,p60,d200,p360) ➞ 2200

**5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.
In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.** <br>
*Examples <br>
flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]] <br>
Take a horizontal list and flip it vertical. <br>
<br>
flip_list([[5], [6], [9]]) ➞ [5, 6, 9] <br>
Take a vertical list and flip it horizontal. <br>
flip_list([]) ➞ []*

In [5]:
def flip_list(in_list):
    if len(in_list) > 0:
        output = [ele[0] for ele in in_list] if isinstance(in_list[0],list) else [[ele] for ele in in_list]
    else:
        output = []
    print(f'flip_list({in_list}) ➞ {output}')
        
flip_list([1,2,3,4]) 
flip_list([[5],[6],[9]])
flip_list([])

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
flip_list([]) ➞ []